body {
    background-color: #ededed;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main {
    display: flex;
    padding-top: 10px;
}

.add-note-button {
    width: 50px;
    height: 50px;
    background-color: rgb(78, 78, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
}

.add-note-button:hover {
    transform: scale(1.1);
}

.add-note-icon {
    position: relative;
    top: 17px;
    left: 5px;
}

.notes-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: masonry;
}

.note-card {
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.note-title {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    background: none;
}

.note-title::placeholder {
    color: black;
}

.note-content::placeholder {
    color: black;
}

.note-tag-list::placeholder {
    color: black;
}

.note-content {
    margin-bottom: 7px;
    width: 99%;
    font-family: none;
    font-size: 15px;
    padding: 5px;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

.note-tag-list {
    padding: 5px;
    border: none;
    background: none;
}

.note-colour {
    position: absolute;
    right: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 30px;
    padding: 0;
    width: 30px;
}

.input-border {
    border: 1px solid black;
}

input {
    box-sizing: border-box
}

.notes-header {
    text-align: center;
}

.filter-notes {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
}

.delete-note {
    margin-top: 10px;
    background: none;
    border: none;
    font-size: 15px;
}

.delete-note::after {
    font-family: 'FontAwesome';
    content: '\f1f8';
}

.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

footer {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}